services:
  rabbitmq:
    image: rabbitmq:4-management
    env_file:
      - ../.env
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 12
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  api:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    env_file:
      - ../.env
    command: uv run src/main.py
    working_dir: /app
    volumes:
      - ../:/app
      - appdata:/data
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8003:8003"
    restart: unless-stopped

  worker:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    env_file:
      - ../.env
    command: uv run src/worker/consumer.py
    working_dir: /app
    volumes:
      - ../:/app
      - appdata:/data
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped

volumes:
  rabbitmq_data:
  appdata:
